.ant-switch[aria-checked='false'] {
  background-color: rgb(201 20 20 / 85%);
}


#signupDiv{
  background-image: url("../../resources/login.png") ;
  height: 910px;
}

#form{
  background-color: whitesmoke;
  padding: 20px;
  margin-top: 8%;
}

#atitle{
  font-family: 'Varela Round', sans-serif;
  font-size: 50px;
  margin: 0 0 0 0;
}

.chagne{
  font-size: 15px;
  margin-bottom: 0;
}

.input{
  margin-bottom: 5px;
}

